/*------------------------- body style ----------------------------------------------------------------- */
body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
}

/* head section stylesss  */
.header-section{
    background: royalblue;
    margin-bottom: 30px;
}
.header-section img:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.navbar-section{
    margin-left: 5%;
}

.navbar-section a{
    
    text-decoration: none;
    margin: 10px;
    color: white;

}
.fa-sign-in-alt{
    margin-right: 10px;
}

.link-button{
    float: right;
    
    background-color: #E02C6D;
    width: 160px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 10px;
    
    
}

/* --------------------------------------------------------------------------- */


.section-title{
  
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;

    
    
}
.half-width {
    display: flex;
    flex-direction: column;
    
    width: 50%;
}

.half-width img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
    
    
}


.fa-arrow-right{
    color: #FFFFFF;
    padding: 2px;
    margin-left: 3px;

}
.container{
    background-color: #FFFFFF;
    margin-left: 5%;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: #FFFFFF;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px;
    column-gap: 0px;
}
.course{
    width: 330px;
    height: 426px;
    
    
    margin-top: 27px;
    margin-left: 15%;
    margin-right: 20px;
    border: 7px solid white;
    margin-bottom: 30px;
    border-radius: 5px;
    align-items: center;
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    
}
.course .course-banner img{
    width: 330px;
    height: 256px;
    
    justify-content: center;
}
.course-author{
    text-align: justify;
}



.flexible-container{
    display: flex;
}
.world-section{
    padding: 10px 20px 50px 20px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    

    
}
.world-section h1{
    font-size: 40px;
    font-weight: 700;
}
.world-section a{
    text-decoration: none;
    
    color: #FFFFFF;
}
.world-section img:hover{
    transform: rotate(60deg);
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}
.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-info{
    margin-right: 10px;
    padding: 10px;
    align-items: center;

}
.contact-section img{
    margin-left: 20%;
    height: 10%;
    width: 50%;
}
footer{
    text-align: center;
}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    margin-top: 10%;
    font-size: 18px;
}
.great-player{
    margin-left: 10%;
    margin-bottom: 10%;
}
hr{
    border:2px solid #D1D1D1;
    margin-bottom: 27px;
}